//Font Kavoon for 30 Felling
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

// Font Collectivo form pause ta font
@font-face {
  font-family: "Mattone 150";
  src: url("assets/Mattone/web/Mattone-150.woff2") format("woff2"),
  url("assets/Mattone/web/Mattone-150.woff") format("woff");
}

body{
  background: red;
}
h1{
  font-family: "Mattone 150";
}